a {
  text-decoration: none;
}

p {
  color: gray;
}

.hamburger-menu {
  border: 0;
}

.hamburger-menu:focus {
  box-shadow: none;
}

input {
  border-radius: 0 !important;
}

input::placeholder {
  color: lightgray !important;
}

.button {
  background: none;
  border: none;
}

.logo-container {
  padding: 30px;
}

.logo {
  cursor: pointer;
}

.image {
  padding: 0 0.5px;
}

.color-hover:hover {
  color: red;
}

.text-over-image-div {
  color: white;
  cursor: pointer;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: all ease 0.3s;
}

.opacity-zero {
  opacity: 0;
}

.text-over-image-div:hover {
  opacity: 1;
}

.text-over-image-div:hover .colored-hover {
  background-color: rgba(222, 104, 43, 0.7);
}

.text-over-image {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-over-image span {
  font-size: 2rem;
  font-weight: 500;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.heading {
  font-weight: 400;
}

.child-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.child-2 {
  display: flex;
  flex-direction: column;
}

.menu-img {
  width: 100px;
}

.custom-row {
  display: flex;
  justify-content: space-between;
}

footer {
  font-size: small;
}

@media (max-width: 767px) {
  .text-over-image span {
    font-size: 3rem;
  }

  .navbar-container ul {
    padding-right: 12px;
  }

  .navbar-container ul button {
    padding: 1px 0;
  }
}

@media (max-width: 576px) {
  .dark-bg {
    background-color: black;
  }

  .searchbar {
    width: 100%;
    margin: 0 12px;
  }

  .dark-bg div a {
    color: white !important;
  }
  .container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .child-2 div {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 576px) {
  div {
    text-align: center !important;
  }

  .navbar-container {
    padding: 0;
  }

  .menu-img {
    margin-bottom: 10px;
  }

  .quick-search {
    margin-top: 25px;
  }
}

@media (max-width: 365px) {
  .navbar-container ul {
    padding: 12px;
  }
}
